<main class="home">
    <%_ if (is_current('/')) { -%>
    <div class="welcome-page">
        <p>First i need your hand, then forever can begin.</p>
    </div>
    <%_ } -%>
    <div class="home-content">
        <ul class="posts-list">
            <%_ page.posts.forEach (post => { -%>
            <li>
                <section class="posts-item">
                    <h2 class="title">
                        <%_ post.title == '' ? post_title = 'undefined' : post_title = post.title -%>
                        <a href="<%= url_for(post.path) %>"><%= post_title %></a>
                    </h2>
                    <%_ post.excerpt ? excerpt = post.excerpt : excerpt = post.content -%>
                    <p class="excerpt"><%= truncate(strip_html(excerpt),{length: 128}).replace(/\n|\r/g,"") %></p>
                    <div class="post-info">
                        <div class="iconfont icon-time">
                            <time datetime="<%= post.date %>"><%= date(post.date) %></time>
                        </div>
                        <%_ if (post.categories.length > 0) { -%>
                        <%_ category = post.categories.data -%>
                        <%_ category = category[category.length - 1] -%>
                        <div class="iconfont icon-fenlei">
                            <a href="<%= url_for(category.path) %>"><%= category.name %></a>
                        </div>
                        <%_ } -%>
                        <%_ if ( post.tags.length > 0) { -%>
                        <div class="iconfont icon-dingyue">
                            <%_ post.tags.forEach (tag => { -%>
                            <span><a href="<%= url_for(tag.path) %>"><%= tag.name %></a></span>
                            <%_ }) -%>
                        </div>
                        <%_ } -%>
                        <div class="more">
                            <a href="<%= url_for(post.path) %>">
                                <span class="iconfont icon-jiantouyou"><%= __('Read_More') %></span>
                            </a>
                        </div>
                    </div>
                </section>
            </li>
            <%_ }) -%>
            <div class="pagination">
                <%_ page.prev ? url_prev = 'Prev' : url_prev = '' -%>
                <a class="page-prev" href="<%= url_for(page.prev_link) %>"><%= __(url_prev) %></a>
                <%_ page.next ? url_next = 'Next' : url_next = '' -%>
                <a class="page-next" href="<%= url_for(page.next_link) %>"><%= __(url_next) %></a>
            </div>
        </ul>
        <!-- <div class="home-sidebar"></div> -->
    </div>
</main>