<main>
    <div class="core">
        <div class="content">
            <div class="post_head">
                <%_ page.title == '' ? title = 'undefined' : title = page.title; -%> 
                <h1><%= title %></h1>
            </div>
            <article class="markdown">
                <%- page.content %>
            </article>
            <div class="copyright_info">
                <ul>
                    <li>
                        <%_ page.title == '' ? page_title = 'undefined' : page_title = page.title; -%>
                        <span><%= __('Copyright.Title') %></span> : <span><%= page_title %></span>
                    </li>
                    <li>
                        <span><%= __('Copyright.Author') %></span> : <span><%= config.author %></span>
                    </li>
                    <li>
                        <span><%= __('Copyright.Create_Time') %></span> : <span><%= page.date %></span>
                    </li>
                    <li>
                        <span><%= __('Copyright.Link') %></span> : <span><a href="<%- full_url_for(page.path) %>"><%- full_url_for(page.path) %></a></span>
                    </li>
                    <li>
                        <span><%= __('Copyright.License_Title') %></span> : 
                        <span><%- __('Copyright.License_Content','<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">BY-NC-SA</a>') %></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>