<main>
    <div class="post markdown">
        <div class="post_header">
            <%_ page.title == '' ? title = 'undefined' : title = page.title; -%>
            <h1><%= title %></h1>
            <ul>
                <li>
                    <span class="iconfont icon-time">2022-12-18</span>
                </li>
                <li><span class="iconfont icon-time"><%= config.author %> </span></li>
                <li><span class="iconfont icon-fenlei">分类</span></li>
                <li><span class="iconfont icon-dingyue">标签A 标签B</span></li>
            </ul>
        </div>
        <article class="markdown">
            <%- page.content %>
        </article>
        <div class="copyright_info">
            <ul>
                <li>
                    <%_ page.title == '' ? page_title = 'undefined' : page_title = page.title; -%>
                    <span><%= __('Copyright.Title') %></span> : <span><%= page_title %></span>
                </li>
                <li>
                    <span><%= __('Copyright.Author') %></span> : <span><%= config.author %></span>
                </li>
                <li>
                    <span><%= __('Copyright.Create_Time') %></span> : <span><%= page.date %></span>
                </li>
                <li>
                    <span><%= __('Copyright.Link') %></span> : <span><%- full_url_for(page.path) %></span>
                </li>
                <li>
                    <span><%= __('Copyright.License_Title') %></span> : 
                    <span><%- __('Copyright.License_Content','<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">BY-NC-SA</a>') %></span>
                </li>
            </ul>
        </div>
        <%_ if (theme.comments.enable && page.comments) { -%>
        <div class="comments">
            <h2 class="iconfont icon-communication"><%= __('Comments') %></h2>
            <%_ if (theme.comments.use) { -%>
            <%- include('comments/' + theme.comments.use) %>
            <%_ } -%>
        </div>
        <%_ } -%>
    </div>
</main>
